article{
    margin: 100px auto;
}
@media screen and (max-width:700px){
    article{
        margin: 100px auto;
        width: 90%;
    }
}
.error{
    width: 300px;
    height: 80px;
    background: #eee;
     border-radius: 10px;
    font-size: 1.2em;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: 1s;
    align-items: center;
     position: absolute;
    left: calc(50% - 150px);
    top:10px;
}
.ani{
    transition: 1s;
}
#errorbox{
    display: none;
}
#errorbox2{
    display: none;
}
#spinbox{
    background: #00000080;
    position: absolute;;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: none;
    z-index: 1000;
 }

#loader{

    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 10px solid ;
    border-bottom-color: rgb(229, 255, 0);
    border-top-color: rgb(0, 255, 157);
    border-right-color: rgba(255, 94, 0, 0.829);
    border-left-color: rgb(255, 0, 76);
     position: absolute;
     top: calc(50% - 40px);
     left: calc(50% - 40px);
animation: spin 1s infinite linear;
   z-index: 1000;


}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}